<template>
    <v-container fluid>
        <v-row>
            <v-row>
                <v-col class="xs" cols="10" md="4"/>
                <v-col class="xs" cols="12" md="4" sm="4">
                    <h2> FACE SEARCH </h2> <br/>
                    <!-- <form enctype="multipart/form-data">
                    <input type="file" accept="image/jpeg" @change="detectImg2"/>
                        <div v-for="(image, index) in images" :key="image.id" class="img-fluid">
                            <img :src="image" class="img-fluid"/>
                            <button @click="removeImage(index)" class="remove-image" style="display: inline;">&#215;</button>
                        </div>
                    </form> -->
                    <div id="app" class="web-camera-container">
                        <div class="camera-button">
                            <v-btn
                                rounded
                                large depressed
                                color=""
                                class="v-btn primary mb-6"
                                @click="toggleCamera">
                            <span v-if="!isCameraOpen">Open Camera</span>
                            <span v-else>Close Camera</span>
                            </v-btn>
                        </div>
                        <div v-if="isCameraOpen" v-show="!isLoading" class="camera-box" :class="{ 'flash' : isShotPhoto }">   
                            <div class="camera-shutter" :class="{'flash' : isShotPhoto}"></div>
                            <v-progress-linear
                                v-model="progress"
                                height="25"
                            >
                                <strong>{{ Math.ceil(progress) }}%</strong>
                            </v-progress-linear><br/>
                            <video v-show="!isPhotoTaken" ref="camera" :width="450" :height="337.5" autoplay></video>  
                            <canvas v-show="isPhotoTaken" id="photoTaken" ref="canvas" :width="450" :height="337.5"></canvas>
                        </div>  
                        <div v-if="isCameraOpen && !isLoading" class="camera-shoot">
                            <div v-if="isPhotoTaken">
                                <h3> SEARCH RESULT </h3>
                                <div> 
                                    <!-- <p  v-if="!isResult"> Image not match, please try again! </p>
                                    <p v-else> Image match with convidence value: {{confidence}}  -->
                                    <img id="preview" v-if="isResult" class="img-fluid" ref="search"/> 
                                </div>
                                <p> CANDIDATE FACE </p> 
                                <div v-for="image in images" :key="image.id">
                                    <img :src="image" class="img-fluid"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </v-col>
            </v-row>
        </v-row>
    </v-container>
</template>

<script>
import facepp from '../apis/faceppAPI'
import Vue from 'vue'
import Swal from 'vue-sweetalert2'
// import * as faceapi from 'face-api.js'

Vue.use(Swal)

export default {
  name: 'face-recognition',
     data() {
        return {
            isCameraOpen: false,
            isPhotoTaken: false,
            isShotPhoto: false,
            isLoading: false,
            compare: false,
            link: '#',
            faceConfig: {
            face_token: [],
            faceAttributes: {
                age: '',
                gender: '',
                race: '',
                glass: '',
                acne: ''
                },
                faceRect: {
                height: [],
                left: [],
                top: [],
                width: [],
                },
                face_landmark: []
            },
            preview: null,
            image_url1: '',
            image_url2: '',
            face_token1: [],
            face_token2: '',
            confidence: '',
            faceset_token: '',
            faceTokenMap: {},
            images: [],
            isResult: true,
            isSearch: false,
            tracker: null,
            trackerTask: null,
            progress: 0,
        }
    },
    created() {
      // this.detectImg()
      this.detectImg2()
    //   this.faceSet()
      // this.searchImg()
    },
    methods: {
      async toggleCamera() {
        if(this.isCameraOpen) {
          this.isCameraOpen = false;
          this.isPhotoTaken = false;
          this.isShotPhoto = false;
          this.compare = false;
          this.stopCameraStream();
        } else {
          this.isCameraOpen = true;
          this.createCameraElement()
          this.progress = 0
        }
      },

      createCameraElement() {
        this.isLoading = true;   
        const constraints = (window.constraints = {
          audio: false,
          video: true
        });
        navigator.mediaDevices
          .getUserMedia(constraints)
          .then(stream => {
              this.isLoading = false;
              this.$refs.camera.srcObject = stream;
              this.draw()
          })
          .catch(() => {
              this.isLoading = false;
              alert("May the browser didn't support or there is some errors.");
          });
      },
      
      stopCameraStream() {
        let tracks = this.$refs.camera.srcObject.getTracks();
        tracks.forEach(track => {
          track.stop();
        });
      },
      
      async takePhoto() {
        this.isPhotoTaken = !this.isPhotoTaken;
        this.compare = true
        const context = this.$refs.canvas.getContext('2d');
        context.drawImage(this.$refs.camera, 0, 0, 450, 337.5);
        // this.searchImg(event)
        var reader = new FileReader()
        var canvas = document.getElementById('photoTaken')
        this.image_url1 = canvas.toDataURL()
        let data = new FormData();
        data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
        data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
        data.append('image_base64', this.image_url1);
        data.append('return_landmark', 2)
        data.append('faceset_token', localStorage.getItem('face_set'))
        const resp = await facepp.detectFace(data)
        if(resp.status == 200) {
          for(let i=0; i< resp.data.faces.length; i++) {
            // this.faceConfig.face_token.push(resp.data.faces[i].face_token)
            this.faceConfig.faceRect.height.push(resp.data.faces[i].face_rectangle.height)
            this.faceConfig.faceRect.left.push(resp.data.faces[i].face_rectangle.left)
            this.faceConfig.faceRect.top.push(resp.data.faces[i].face_rectangle.top)
            this.faceConfig.faceRect.width.push(resp.data.faces[i].face_rectangle.width)
            // this.face_token1.push(resp.data.faces[0].face_token)
            const ctx = this.$refs.canvas.getContext('2d');
            ctx.beginPath();
            ctx.lineWidth = "5";
            ctx.strokeStyle = "blue";
            ctx.rect(this.faceConfig.faceRect.left[i], this.faceConfig.faceRect.top[i], this.faceConfig.faceRect.height[i] ,this.faceConfig.faceRect.width[i])
            ctx.stroke();
          }
          // this.analyzeImg()
          this.landmark()
        }
        const res = await facepp.faceSearch(data)
        const minThreshold = res.data.thresholds["1e-3"]
        for(let i=0; i< res.data.results.length; i++) {
          var face_token = (res.data.results[i].face_token)
          const base64image = this.faceTokenMap[face_token]
          if(res.data.results[i].confidence > minThreshold) {
            this.isResult = true
            if(face_token) {
                var content = 
                    '<div class="item">' +
                    '<div> Photo is match with confidence value:' + res.data.results[i].confidence + '</div>' +
                    '</div'
                Vue.swal({
                    title: 'Success',
                    html: content,
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    focusConfirm: true,
                    allowEnterKey: false,
                    timer: 7000
                })
                this.confidence = res.data.results[i].confidence
                var preview = document.getElementById('preview')
                preview.src = base64image
            }
          } else {
            this.isResult = false
            var content2 = 
              '<div class="item">' +
                '<div> Photo is doesnt match, please try again </div>' +
              '</div'
            Vue.swal({
              title: 'Failed',
              html: content2,
              icon: 'error',
              confirmButtonText: 'Ok',
              focusConfirm: true,
              allowEnterKey: false,
              timer: 7000
            })
          }
          var previewProb = document.getElementById('prob')
          previewProb.src = base64image
          this.confidence = res.data.results[i].confidence
          reader.readAsDataURL(event.target.files[i])
        }
      },

      dataUritoBlob(dataURI) {
        const byteString = atob(dataURI.split(',')[1]);
        const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ab], {type: mimeString});
      },

      async analyzeImg() {
        let data = new FormData();
        data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
        data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
        data.append('face_tokens', this.faceConfig.face_token)
        data.append('return_attributes', "gender,age,smiling,ethnicity,skinstatus,eyestatus");
        const resp = await facepp.analyze(data)
        if(resp.status == 200) {
          let attributes = resp.data.faces[0].attributes;
          this.faceConfig.faceAttributes = {
            age : attributes.age.value,
            gender: attributes.gender.value,
            race: attributes.ethnicity.value,
            glass: attributes.glass.value,
            acne: attributes.skinstatus.acne
            }
          }
        },

      async landmark() {
        var canvas = document.getElementById('photoTaken')
        var imageURL = canvas.toDataURL()
        let data = new FormData();
        data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
        data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
        data.append('image_base64', imageURL);
        data.append('return_landmark', 'all')
        const resp = await facepp.faceLandmark(data)

        if(resp.status == 200) {
          var array = [];
              // push all values into array
          for (var element in resp.data.face.landmark.face) {
            array.push(resp.data.face.landmark.face[element]);
          }
          for (var element2 in resp.data.face.landmark.left_eye) {
            array.push(resp.data.face.landmark.left_eye[element2]);
          }
          for(var element3 in resp.data.face.landmark.left_eye_eyelid) {
            array.push(resp.data.face.landmark.left_eye_eyelid[element3])
           }
          for(var element4 in resp.data.face.landmark.left_eyebrow) {
            array.push(resp.data.face.landmark.left_eyebrow[element4])
          }
          for (var element5 in resp.data.face.landmark.mouth) {
            array.push(resp.data.face.landmark.mouth[element5]);
          }
          for (var element6 in resp.data.face.landmark.nose) {
            array.push(resp.data.face.landmark.nose[element6]);
          }
          for(var element7 in resp.data.face.landmark.right_eye_eyelid) {
            array.push(resp.data.face.landmark.right_eye_eyelid[element7])
          }
          for(var element8 in resp.data.face.landmark.right_eyebrow) {
            array.push(resp.data.face.landmark.right_eyebrow[element8])
          }
          for (var element9 in resp.data.face.landmark.right_eye) {
            array.push(resp.data.face.landmark.right_eye[element9]);
          }
          for(let i=0; i< array.length; i++) {
            const a = array[i].x
            const b = array[i].y             
            const ctx = this.$refs.canvas.getContext('2d');
            ctx.beginPath();
            ctx.arc(a,b, 1,0, 3*Math.PI);
            ctx.fillStyle = 'aqua';
            ctx.fill()
          }          
        }              
      },

      async faceSet() {
        let data = new FormData();
        data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
        data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
        const resp = await facepp.faceSetCreate(data)
        if(resp.status == 200) {
          this.faceset_token = resp.data.faceset_token
          alert('Face set has been created')
          localStorage.setItem('face_set', this.faceset_token)
          }
      },

      removeImage(index) {
        this.images.splice(index, 1)
      },

      draw() {
        let setIntervalRef = setInterval(() => {
          this.progress++;
          if(this.progress == 100) {
            clearInterval(setIntervalRef)
            this.takePhoto()
            }
        }, 50) 
        // const video = this.$refs.camera
        // setInterval(async () => {
        //     const detections = await faceapi.detectAllFaces(video, new faceapi.TinyFaceDetectorOptions())
        //     if(detections.length > 0 ) {
        //     let setIntervalRef = setInterval(() => {
        //         this.progress++;
        //         if(this.progress == 100) {
        //             clearInterval(setIntervalRef)
        //             this.takePhoto()
        //         }
        //     }, 50)
        //     } else {
        //         this.progress = 0
        //     }
        // })

        // setInterval(async()=> {
        // counter = counter - 1;
        // if(counter == 0) {
        //   this.takePhoto()
        //   }
        // }, 1000)
      },

      async detectImg2(event) {
        for(let i=0; i< event.target.files.length; i++) {
          // var input = event.target;
          const reader = new FileReader();
          // reader.readAsDataURL(input.files[0]);
          reader.onload = async (e) => {
          const base64Image = e.target.result;
          var image_file = this.dataUritoBlob(base64Image)
          this.images.push(base64Image)
          let data = new FormData();
          data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
          data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
          data.append('image_file', image_file);
          const resp = await facepp.detectFace(data)
          if(resp.status == 200) {
            const face_token = resp.data.faces[0].face_token
            let dataAdd = new FormData();
            dataAdd.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
            dataAdd.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
            dataAdd.append('image_file', image_file);
            dataAdd.append('faceset_token', this.faceset_token)
            dataAdd.append('face_tokens', face_token)
            const addFace = await facepp.faceAdd(dataAdd)
            if(addFace.status == 200) {
              this.faceTokenMap[face_token] = base64Image
              }
            }
          }
          reader.readAsDataURL(event.target.files[i])
        }
      },      
    },
}

</script>
<style> 
    .web-camera-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 500px;
    }
    .img-fluid {
        width: 280px;
        height: 300px;
        position: relative;
        background: #333;
    }
    .remove-image {
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 10em;
        padding: 2px 6px 3px;
        text-decoration: none;
        font: 700 21px/20px sans-serif;
        background: #555;
        border: 3px solid #fff;
        color: #FFF;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        -webkit-transition: background 0.5s;
        transition: background 0.5s;
    }
    .camera-shutter{
      border-radius: 50%
    }
</style>