<template>
    <v-container fluid>
        <v-row>
            <v-row>
                <v-col class="xs" cols="10" md="4"/>
                <v-col class="xs" cols="12" md="4" sm="4">
                    <h2> FACE SEARCH </h2> <br/>
                    <form enctype="multipart/form-data">
                    <input type="file" accept="image/jpeg" @change="detectImg2"/>
                        <div v-for="(image, index) in images" :key="image.id" class="img-fluid">
                            <img :src="image" class="img-fluid"/>
                            <button @click="removeImage(index)" class="remove-image" style="display: inline;">&#215;</button>
                        </div>
                    </form>
                    <br/>
                    <v-btn class="primary" @click="next"> Next </v-btn>                    
                </v-col>
            </v-row>
        </v-row>
    </v-container>
</template>

<script>
import facepp from '../apis/faceppAPI'
import Vue from 'vue'
import Swal from 'vue-sweetalert2'
// import * as faceapi from 'face-api.js'

Vue.use(Swal)

export default {
  name: 'face-upload',
     data() {
        return {
            isCameraOpen: false,
            isPhotoTaken: false,
            isShotPhoto: false,
            isLoading: false,
            compare: false,
            link: '#',
            faceConfig: {
            face_token: [],
            faceAttributes: {
                age: '',
                gender: '',
                race: '',
                glass: '',
                acne: ''
                },
                faceRect: {
                height: [],
                left: [],
                top: [],
                width: [],
                },
                face_landmark: []
            },
            preview: null,
            image_url1: '',
            image_url2: '',
            face_token1: [],
            face_token2: '',
            confidence: '',
            faceset_token: '',
            faceTokenMap: {},
            images: [],
            isResult: true,
            isSearch: false,
            tracker: null,
            trackerTask: null,
            progress: 0,
        }
    },
    created() {
      // this.detectImg()
      this.detectImg2()
      this.faceSet()
      // this.searchImg()
    },
    methods: {
      dataUritoBlob(dataURI) {
        const byteString = atob(dataURI.split(',')[1]);
        const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ab], {type: mimeString});
      },


      async faceSet() {
        let data = new FormData();
        data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
        data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
        const resp = await facepp.faceSetCreate(data)
        if(resp.status == 200) {
          this.faceset_token = resp.data.faceset_token
          alert('Face set has been created')
          localStorage.setItem('face_set', this.faceset_token)
          }
      },

      removeImage(index) {
        this.images.splice(index, 1)
      },

      next() {
          this.$router.push('/face-recognition')
      },

      async detectImg2(event) {
        for(let i=0; i< event.target.files.length; i++) {
          // var input = event.target;
          const reader = new FileReader();
          // reader.readAsDataURL(input.files[0]);
          reader.onload = async (e) => {
          const base64Image = e.target.result;
          var image_file = this.dataUritoBlob(base64Image)
          this.images.push(base64Image)
          let data = new FormData();
          data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
          data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
          data.append('image_file', image_file);
          const resp = await facepp.detectFace(data)
          if(resp.status == 200) {
            const face_token = resp.data.faces[0].face_token
            let dataAdd = new FormData();
            dataAdd.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
            dataAdd.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
            dataAdd.append('image_file', image_file);
            dataAdd.append('faceset_token', this.faceset_token)
            dataAdd.append('face_tokens', face_token)
            const addFace = await facepp.faceAdd(dataAdd)
            if(addFace.status == 200) {
              this.faceTokenMap[face_token] = base64Image
              }
            }
          }
          reader.readAsDataURL(event.target.files[i])
        }
      },      
    },
}

</script>
<style> 
    .web-camera-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 500px;
    }
    .img-fluid {
        width: 280px;
        height: 300px;
        position: relative;
        background: #333;
    }
    .remove-image {
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 10em;
        padding: 2px 6px 3px;
        text-decoration: none;
        font: 700 21px/20px sans-serif;
        background: #555;
        border: 3px solid #fff;
        color: #FFF;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        -webkit-transition: background 0.5s;
        transition: background 0.5s;
    }
    .camera-shutter{
      border-radius: 50%
    }
</style>