<template>
  <v-container id="login" tag="section">
    <v-row>
      <v-row>
        <v-col class="xs" cols="10" md="4"/>
        <v-col class="xs" cols="12" md="4" sm="4">
          <v-card class="mx-auto md-12">
            <v-card-text class="text-center">
              <h2> FACE RECOGNITION </h2> <br/>
              <form enctype="multipart/form-data">
              <input type="file" accept="image/jpeg" @change="detectImg"/>
                <img :src="preview" class="img-fluid"/>
                <!-- <v-text-field
                  type="file"
                  id="testImg"
                  @change="detectImg"
                />  -->
                <!-- <v-text-field
                  v-model="model.username"
                  outlined dense autofocus
                  label="Id Pengguna"
                  prepend-icon="mdi-face"
                  type="text"
                  :counter="50"
                />
                <v-text-field
                v-model="model.password"
                  outlined dense
                  label="Password"
                  prepend-icon="mdi-lock"
                  type="password"
                /> -->
                <!-- <v-btn
                  rounded
                  large depressed
                  color=""
                  class="v-btn primary mb-6"
                  @click="login()"
                >
                  Login
                </v-btn> -->
              </form>
              <div id="result">
                <p>Age:{{faceConfig.faceAttributes.age}}</p>
                <p>Gender: {{faceConfig.faceAttributes.gender}}</p>
                <p>race: {{faceConfig.faceAttributes.race}}</p>
                <p>Wearing glasses: {{faceConfig.faceAttributes.glass}}</p>
                <div>
                    <p>Skin condition</p>
                    <p>acne: {{faceConfig.faceAttributes.acne}}</p>
                </div>
               </div>
               <v-btn
                  rounded
                  large depressed
                  color=""
                  class="v-btn primary mb-6"
                  @click="login()"
                >
                  Face Measurment
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
        <v-col class="xs" cols="12" md="4" sm="4" />
      </v-row>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
import api from '../apis/LoginAPI'
import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2'
  Vue.use(VueSweetalert2)


  export default {
    name: 'HelloWorld',
    data() {
      return {
        model: {
          username: '',
          password: ''
        },
        faceConfig: {
          face_token: '',
          faceAttributes: {
            age: '',
            gender: '',
            race: '',
            glass: '',
            acne: ''
          },
        },
        image: null,
        preview: null
      }
    },
    created() {
      this.detectImg()
    },
    methods: {
      async login() {
        let res = await api.post(this.model)
        if (res.status == 200){
                let result = res.data
                this.$session.start();
                this.$session.set('id_regis', result.data.id_regis)
                this.$session.set('token', result.data.token)
                localStorage.token = this.$session.get("token")
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get("token")
                this.$emit("reload-session")
                Vue.swal(
                  'Good job!',
                  'You clicked the button!',
                  'success'
                )
            }
              this.$router.push('/dashboard')
      },
      async detectImg(event) {
         var input = event.target;
          if (input.files) {
            var reader = new FileReader();
            reader.onload = (e) => {
              this.preview = e.target.result;
            }
            this.image=input.files[0];
            reader.readAsDataURL(input.files[0]);
          }
        let url = 'https://api-us.faceplusplus.com/facepp/v3/detect';
        // let files = event.target.files[0]
        let data = new FormData();
        data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
        data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
        data.append('image_file', event.target.files[0]);
        let headers = new Headers()
        headers.append('Access-Control-Allow-Origin', 'http://localhost:8080')
        headers.append("Content-Type", "multipart/form-data")
        const resp = await axios({
          method: 'POST',
          url: url,
          data: data,
          headers: headers,
        })
        console.log(resp.data.faces[0].attributes)
        if(resp.status == 200) {
          this.faceConfig.face_token = resp.data.faces[0].face_token;
          this.analyzeImg()
        }
      },
      async analyzeImg() {
         let url = 'https://api-us.faceplusplus.com/facepp/v3/face/analyze';
        // let files = event.target.files[0]
        let data = new FormData();
        data.append('api_key', "7Og1uMVgmfN1nEo6fEGgbt5xMHfJxUOT");
        data.append('api_secret', "pjqsX9XuX14nmJWXh4DWwohpiPj3j1GV");
        data.append('face_tokens', this.faceConfig.face_token)
        data.append('return_attributes', "gender,age,smiling,ethnicity,skinstatus,eyestatus");
        let headers = new Headers()
        headers.append('Access-Control-Allow-Origin', 'http://localhost:8080')
        const resp = await axios({
          method: 'POST',
          url: url,
          data: data,
          headers: headers,
        })
        console.log(resp);
        if(resp.status == 200) {
          let attributes = resp.data.faces[0].attributes;
          this.faceConfig.faceAttributes = {
                age : attributes.age.value,
                gender: attributes.gender.value,
                race: attributes.ethnicity.value,
                glass: attributes.glass.value,
                acne: attributes.skinstatus.acne
            }
          console.log(this.faceConfig.faceAttributes.age)
        }
      }
    }
  }
</script>

<style scoped>
  .img-fluid {
    width: 280px;
    height: 300px;
  }
</style>
